<!doctype html>
<head>
	<title>{title}</title>
	<meta name="keywords" content="{keywords}" />
	<meta name="description" content="{description}" />
	<link rel="shortcut" href="img/favicon.ico" />
	<link rel="stylesheet" href="/s/{style}" />
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>-->
	<script type="text/javascript" src="/b/js/jquery.js" ></script>
	<script type="text/javascript" src="/s/{script}" ></script>
</head>
	<body>
	{devmenu}
    <div class="container_16">
    	<div class="grid_10 l-header">
  			{top}
		</div>
		<div class="grid_6 l-header">
			{user-control}
		</div>
	<div class="clear" />
    </div>
    <div class="container_16">
    	<div class="grid_3 l-main">1</div>	
		<div class="grid_10">{content}</div>					
		<div class="grid_3 l-main">2</div>					
	<div class="clear" />
    </div>
    <div class="container_16">
    	<div class="grid_16">
    		{footer}
    	</div>
    <div class="clear" />
    </div>
  </body>
</html>