.i-edit {
	font-size: 10pt;
	padding:8px 40px 8px 8px;
	font-weight:bold;
	border:1px solid #909090;
	background:#fff;
}

.b-form-login .i-edit, 
.b-form-register .i-edit, 
.b-form-password .i-edit, 
.b-form-provider .i-edit,
.b-form-worker .i-edit {
	width:306px;
}