.b-development-menu {

}

.b-development-menu__list {
	padding:1px;
	left:0; top:0;
	display:block;
}

.b-development-menu__line {
	margin: 0.5em 0;
	font-size:10pt;
}

.b-development-menu__link {
	display:block; 
	background:#bbb;
	color:#000;
}

.b-development-menu__link:hover {
	background:#FF6347;
	color:#000;
}