/*----------<<< CSS for debugging >>>---------*/

.l-header, .l-main, .l-footer {
	/*border: 1px solid black;*/
	opacity:0.75;	
}
/*========== Header ==========*/
.l-header {
  	background:#6688cc;
}
/*========== Main block ==========*/
.l-main {  	
  	background:#cc6666;
}
/*========== Footer ==========*/
.l-footer {
	background:#6688cc; 
}