/*----------<<< CSS for debugging >>>---------*/

.l-header, .l-main, .l-footer {
	/*border: 1px solid black;*/
	opacity:0.75;	
}
/*========== Header ==========*/
.l-header {
  	background:#6688cc;
}
/*========== Main block ==========*/
.l-main {  	
  	background:#cc6666;
}
/*========== Footer ==========*/
.l-footer {
	background:#6688cc; 
}

.b-debug-noxslt {
	font-size: 8pt;
	opacity:1;
}

.b-debug-noxslt__head {
	color:#eeeeee;
	background:#666666;
	padding:5px;
}

.b-debug-noxslt__body {
	color:#666666;
	background:#eeeeee;
	padding:5px 5px;
}
.
.b-debug-noxslt__list {
	display:block;
}

.b-debug-noxslt__item {
	padding:5px 0;
	display:block;
}
.b-debug-noxslt__enable, .b-debug-noxslt__disable {
	display:block;
	padding:2px;
	cursor:pointer;
	
}
.b-debug-noxslt__enable, .b-debug-noxslt__enable:hover  {
	color:#009900;	
}

.b-debug-noxslt__disable, .b-debug-noxslt__disable:hover {
	color:#990000;
}
.b-debug-noxslt__enable:hover, .b-debug-noxslt__disable:hover {
	background:#cccccc;
	text-decoration:none;
}

