/*----------<<< Double-column mixed >>>---------*/
body {
  padding:5px;
  margin:0 auto;
}

/*========== Header ==========*/

.l-header {
  	
}

/*========== Main block ==========*/

.l-main {	
	width:100%; 
	overflow:hidden;
}

.l-main-content {
  	margin-left:250px;
  	padding-bottom:32767px;
 	margin-bottom:-32767px;
}

.l-main-sidebar {
 	float:left; 
 	width:250px;
 	padding-bottom:32767px;
  	margin-bottom:-32767px;
}

/*========== Footer ==========*/

.l-footer {
	clear:both; 
}