/*@import url("reset-html.css");*/
@import url("reset960-html.css");
/*@import url("double.column.fixed-html.css");*/
@import url("nav-html.css");
@import url("debugging.css");
@import url("960-html.css");


	.login-ok, .text_login, .text_reg, .login-argabsent, .password-ok, .password-argabsent {background:#f0f0f0; border:1px solid #909090;}
	.login-argabsent, .password-argabsent {background:#ff9999;}
     
    .container_16 {
     	position: relative;
		background: #fff url("/s/img/16_col.gif") repeat-y;
	}

    .popup-user-login {
    	position:absolute;
  		top:0px; right:10px;
  		text-align:right;
    }
    .popup1 {
    	position:absolute;
  		top:50px; right:10px;
  		text-align:right;
    }
	.popup2 {
    	position:absolute;
  		top:300px; right:10px;
  		text-align:right;
    }
    .dropdown-content {
    	display: none;
    	background: #ffffff;
    	text-align:left;
    }
    
    .dropdown-button {
    	cursor: pointer;
    	}
    	
    .dropdown-button:hover {text-decoration:none;}
    
    div.datepicker-container {
    	font-size: 10pt
    }
    table.datepicker-calendar {
    	border-collapse: collapse;   			
    }
    
    table.datepicker-calendar td {
    	border:1px solid #ffffff;
		padding: 2px 6px;
		cursor: pointer;
    }
    
    table.datepicker-calendar th {
    	border:1px solid #ffffff;
    	background-color:#9999cc;
    	font-weight:bold;
		padding: 2px 6px;
		cursor: default;
    }
	.datepicker-next, .datepicker-prev {cursor:pointer;}
    
    input.datepicker-day, input.datepicker-month, input.datepicker-year {border:1px solid #444444;}

	td.datepicker-workingday {background-color:#99cc99;}
	td.datepicker-workingday:hover {background-color:#ccffcc;}
	
	td.datepicker-today {background-color:#ffff99;}
	td.datepicker-today:hover {background-color:#ccffff;}
	
	td.datepicker-holiday {background-color:#cc9999;}
	td.datepicker-holiday:hover {background-color:#ffcccc;}
	
	td.datepicker-anotherday {background-color:#cccccc; color:#888888;}
	td.datepicker-anotherday:hover {background-color:#eeeeee; color:#444444;}
	
	
	.exit-form {
		display:inline;
		/*border:1px solid black;*/
	}

	.exit-button {
		border:1px solid black;
		/*border:none;*/
	}

/* fast login dropdown form */	
	
	div.fast-login {
    	position:absolute;
  		top:0px; right:10px;
  		text-align:right;
    }
    
	form.fast-login {
		padding:10px 20px 20px 20px;
	}
	p {
		color:#666;
	}
	
	p.fast-login {
		font-size: 10pt;
		margin:10px 0 4px 0;		
	}
	
	input.fast-login-def, input.fast-login-err, input.fast-login-val {		
		font-size: 14pt;
		padding:3px;
		margin:0 0 0px 0;
		border:1px solid #909090;
	}
	
	input.fast-login-def {
		background-color:#f0f0f0;
	}
	
	input.fast-login-err {
		background-color:#ffcccc;
	}
	
	input.fast-login-val {
		background-color:#ccffcc;
	}
	
	p.display {
		font-size: 8pt;
		text-align:right;
		margin-top:1px;
		
	}
	
/* password show/hide toggle */

	.display-toggle {
		text-decoration: none; 
		border-bottom: 1px dashed #666;
		cursor:pointer;
	}
	span.nodisplay {
		display: none;
	}
	span.display {
		display: inline;
	}

/* timetable table */
	
	table.timetable {
    	border-collapse: collapse;
    	font-size:10pt;
    	display:inline;    	  			
    }
	
	table.timetable td {
    	border:1px solid #ffffff;
		padding: 2px 6px;
    }
    
    table.timetable th {
    	border:1px solid #ffffff;
    	background-color:#9999cc;
    	font-weight:bold;
		padding: 2px 6px;		
    }
    
    td.timetable-cell-free {background-color:#99cc99; cursor: pointer}
	td.timetable-cell-free:hover {background-color:#ccffcc;}
	
	td.timetable-cell-busy {background-color:#cc9999;}
	/*td.timetable-cell-busy:hover {background-color:#ffcccc;}*/
	
	td.timetable-cell-off {background-color:#cccccc; color:#888888;}
	/*td.timetable-cell-off:hover {background-color:#eeeeee; color:#444444;}*/
	
