@import url("/s/blocks/i-edit/i-edit.html.css");

.b-edit-password__name {
	display:inline;
}

.b-edit-password__label {
	margin:2px 0 0 0;
	font-size: 8pt;
	color:#777;
}

/* password show/hide toggle */

.b-edit-password__toggle-display, .b-edit-password__toggle-hide {
	text-decoration:none; 
	border-bottom:1px dashed #666;
	cursor:pointer;
	display:none;
	float:right;
	font-size:10pt;
}

.b-edit-password__nodisplay {
	display: none;
}

.b-edit-password__display {
	display: inline;
}

.b-edit-password__display-monitor {
	display: none;
}

.b-edit-password__display-element {
	
}