<!DOCTYPE html>
<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
	<title>{title}</title>
	<meta name="keywords" content="{keywords}" />
	<meta name="description" content="{description}" />
	<link rel="shortcut" href="img/favicon.ico" />
	
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>-->
	<script type="text/javascript" src="/b/js/jquery.js" ></script>
  
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">

	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
 
 	<link rel="stylesheet" href="s/layouts/responsive/css/html5reset.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/responsivegridsystem.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/col.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/2cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/3cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/4cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/5cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/6cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/7cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/8cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/9cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/10cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/11cols.css" media="all">
	<link rel="stylesheet" href="s/layouts/responsive/css/12cols.css" media="all">
	
	<link rel="stylesheet" href="/s/{style}" />
	<script type="text/javascript" src="/s/{script}" ></script>
</head>
<body>

<div id="skiptomain"><a href="#maincontent">skip to main content</a></div>

<div id="wrapper">
	<div id="headcontainer">
		<header>
		<h1>Responsive Grid System</h1>
		<h2>HTML Example</h2>
		<p class="introtext">You're gonna have to view the source to grab the code here.</p>
		</header>
	</div>
	<div id="maincontentcontainer">
		<div id="maincontent">

			<div class="section group">
			<h3>Two Columns</h3>
			</div>

			<div class="section group example">
				<div class="col span_1_of_2">
				1 of 2
				</div>
				<div class="col span_1_of_2">
				1 of 2
				</div>
			</div>

			<div class="section group example">
			<h3>Three Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_3">
				1 of 3
				</div>
				<div class="col span_1_of_3">
				1 of 3
				</div>
				<div class="col span_1_of_3">
				1 of 3
				</div>
			</div>

			<div class="section group">
			<h3>Four Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_4">
				1 of 4
				</div>
				<div class="col span_1_of_4">
				1 of 4
				</div>
				<div class="col span_1_of_4">
				1 of 4
				</div>
				<div class="col span_1_of_4">
				1 of 4
				</div>
			</div>

			<div class="section group">
			<h3>Five Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_5">
				1 of 5
				</div>
				<div class="col span_1_of_5">
				1 of 5
				</div>
				<div class="col span_1_of_5">
				1 of 5
				</div>
				<div class="col span_1_of_5">
				1 of 5
				</div>
				<div class="col span_1_of_5">
				1 of 5
				</div>
			</div>

			<div class="section group">
			<h3>Six Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_6">
				1 of 6
				</div>
				<div class="col span_1_of_6">
				1 of 6
				</div>
				<div class="col span_1_of_6">
				1 of 6
				</div>
				<div class="col span_1_of_6">
				1 of 6
				</div>
				<div class="col span_1_of_6">
				1 of 6
				</div>
				<div class="col span_1_of_6">
				1 of 6
				</div>
			</div>

			<div class="section group">
			<h3>Seven Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_7">
				1 of 7
				</div>
				<div class="col span_1_of_7">
				1 of 7
				</div>
				<div class="col span_1_of_7">
				1 of 7
				</div>
				<div class="col span_1_of_7">
				1 of 7
				</div>
				<div class="col span_1_of_7">
				1 of 7
				</div>
				<div class="col span_1_of_7">
				1 of 7
				</div>
				<div class="col span_1_of_7">
				1 of 7
				</div>
			</div>

			<div class="section group">
			<h3>Eight Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_8">
				1 of 8
				</div>
				<div class="col span_1_of_8">
				1 of 8
				</div>
				<div class="col span_1_of_8">
				1 of 8
				</div>
				<div class="col span_1_of_8">
				1 of 8
				</div>
				<div class="col span_1_of_8">
				1 of 8
				</div>
				<div class="col span_1_of_8">
				1 of 8
				</div>
				<div class="col span_1_of_8">
				1 of 8
				</div>
				<div class="col span_1_of_8">
				1 of 8
				</div>
			</div>

			<div class="section group">
			<h3>Nine Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_9">
				1 of 9
				</div>
				<div class="col span_1_of_9">
				1 of 9
				</div>
				<div class="col span_1_of_9">
				1 of 9
				</div>
				<div class="col span_1_of_9">
				1 of 9
				</div>
				<div class="col span_1_of_9">
				1 of 9
				</div>
				<div class="col span_1_of_9">
				1 of 9
				</div>
				<div class="col span_1_of_9">
				1 of 9
				</div>
				<div class="col span_1_of_9">
				1 of 9
				</div>
				<div class="col span_1_of_9">
				1 of 9
				</div>
			</div>

			<div class="section group">
			<h3>Ten Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
				<div class="col span_1_of_10">
				1 of 10
				</div>
			</div>

			<div class="section group">
			<h3>Eleven Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
				<div class="col span_1_of_11">
				1 of 11
				</div>
			</div>


			<div class="section group">
			<h3>Twelve Columns</h3>
			</div>

			<div class="section group">
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
				<div class="col span_1_of_12">
				1 of 12
				</div>
			</div>



		</div>
	</div>
	<div id="footercontainer">
		<footer class="group">
			<div class="col span_1_of_4">
			<h4>About the Responsive Grid System</h4>
			{devmenu}
			</div>
			<div class="col span_1_of_4">
			<h4>Problem, Officer?</h4>
			<p>If you find any errors, or can suggest any improvements please <a href="mailto:grahamrobertsonmiller@gmail.com">email me</a>. I will have a mini strop before probably realising you're way cleverer than me.  If I use something you suggest, you'll get a shout-out.</p>
			</div>
			<div class="col span_1_of_4">
			<h4>Are You Using It?</h4>
			<p>I'd love to know if this has been of use, and especially if you're actually using the code.  Go on, <a href="mailto:grahamrobertsonmiller@gmail.com">let me know</a> and you could get featured here.
			</div>
			<div class="col span_1_of_4">
			<h4>Who Made This?</h4>
			<p>Seeing as you asked, the Responsive Grid System is brought to you by <a href="http://www.grahamrobertsonmiller.co.uk">Graham Miller</a> and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</p>
			</div>

   			<br class="breaker" />

			<div id="smallprint">
			<span class="heart">&hearts;</span> Lovingly made in Newcastle upon Tyne.
			<a href="https://twitter.com/graham_r_miller" class="twitter-follow-button" data-show-count="false">Follow @graham_r_miller</a>
			
			</div>

		</footer>
	</div>
</div>
</body>
</html>