.b-button {
	font-size: 10pt;
	padding: 5px 10px;
}

.b-form-login .b-button, 
.b-form-register .b-button, 
.b-form-password .b-button, 
.b-form-provider .b-button {
	display:block;
	margin-left:260px;
	margin-top:20px;
	width:100px;
}