
.i-button {
	font-size: 10pt;
	padding: 5px 10px;
}

.b-form-login .i-button, .b-form-register .i-button, .b-form-password .i-button, .b-form-firm .i-button {
	display:block;
	margin-left:260px;
	margin-top:20px;
	width:100px;
}