.b-edit {
	/*font-size: 10pt;
	font-weight:bold;*/
	border:1px solid #909090;
	/*background:#fff;*/
	/*padding: 0.4em;*/
}
.b-edit-error .b-edit{
	border:2px solid #ff0000;
}


.b-edit__name {

}

.b-edit__label {
	font-size: 8pt;
	color:#777;
}