<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {header}
  <body>
    
    <div class="container_16">
      
      <div class="grid_10 l-header">
        <p>Заголовок</p>
      </div>
      
      <div class="grid_6 l-header">
        <a href="/login">Войти</a>
      </div>
      <div class="clear"></div>
      
      {content}
      
      <div class="grid_16 l-header b-footer">{footer}</div>
      <div class="clear"></div>
    </div>
  </body>
</html>
